<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dagger.daggerhiltnetworkconnection">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="kr.dagger.findgithubprofile.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DaggerHiltNetworkConnection">

        <activity android:name="kr.dagger.findgithubprofile.presentation.ui.main.detail.web.RepoActivity"/>
        <activity android:name="kr.dagger.findgithubprofile.presentation.ui.main.detail.detail.DetailActivity"/>
        <activity
            android:name="com.dagger.daggerhiltnetworkconnection.kr.dagger.daggerhiltnetworkconnection.presentation.ui.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>